body {
	text-align: center;
	text-decoration: none;
	margin: 0;
}

main{
	width: 850px;
	margin: 35px auto;

}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	margin-right: 20px;
	margin-left: 20px;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: #FFFFFF;
}

nav {
	list-style: none;
	background-color: #00A6b3;
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
}

h1 {
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;

}

h2, h3 {
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

p {
	font-family: "Droid serif", sans-serif;
	line-height: 26px;
	font-size: 18px;
}

img {
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 8px;
	margin-left: 8px;
}

footer {
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #0D2C40;
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: .8em;
	font-weight: 500;
}

.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
}

.message {
	font-family: "Raleway", sans-serif;
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

.initials {
	color: #00A6b3;
	font-weight: 700;
}

/*.heart {
	color: #FF0000;
}*/